.wy-nav-side, .wy-side-nav-search, .wy-nav-top {
    background-color: #ac4142;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #fff;
}

.wy-menu-vertical a {
    color: #fff;
}
