.wy-nav-side, .wy-side-nav-search, .wy-nav-top {
    background-color: #ac4142;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #fff;
}

.wy-menu-vertical a {
    color: #fff;
}

.rst-content a code.literal {
    color: #2980B9;
}
.rst-content a:hover code.literal {
    color: #3091d1;
}
.rst-content a:visited code.literal {
    color: #9B59B6;
}

dl.py.property {
    display: block !important;
}
